

/*HEADER */

header {
   display: flex;
   justify-content: center;
}


/* MAIN */

.board-game-layout-container {
   
}

/* BANNERS */

.banner-wrapper {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    margin: 50px;
}
